    body {
        margin: 0;
        padding: 0;
        height: 500px;
    }
    
    #particles-js {
        height: 500px;
        background: #262626;
    }
    /*--------------------------------*/
    /* BASIC SETUP */
    /*--------------------------------*/
    
     :root {
        --white: #fff;
        --black: #282828;
        --logo-blue: #4285f4;
        --logo-green: #0f9d58;
        --logo-red: #ea4335;
        --logo-yellow: #fbbc04;
        --gray-secondary: #777777;
        --gray-light-secondary: #d6d6d6;
        --gray-light: #f8f8f8;
        --main-shadow: 0.3rem 0.3rem 0.6rem 0rem rgba(0, 0, 0, 0.205);
        --nav-shadow: 0rem 0.1rem 1.6rem 0rem rgba(0, 0, 0, 0.164);
        --side-nav-shadow: -0.3rem 0.2rem 1.6rem 0.6rem rgba(64, 64, 64, 0.1);
        --border-radius: 1.5rem;
        --border-radius-circle: 100%;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: inherit;
    }
    
    html {
        font-size: 62.5%;
        /* So that 1rem = 10px */
        overflow-x: hidden;
    }
    
    body {
        font-family: 'Barlow', sans-serif;
        font-weight: 300;
        line-height: 1.7;
        text-rendering: optimizeLegibility;
        background-color: var(--white);
        color: var(--black);
    }
    
    a:link,
    a:visited {
        text-decoration: none;
        color: inherit;
    }
    
    li {
        list-style: none;
    }
    
    canvas {
        display: block;
    }
    
    section {
        padding: 5rem 0;
        width: 100%;
        margin-bottom: 5rem;
    }
    
    section#hero {
        margin-bottom: 0;
    }
    
    .hidden {
        display: none !important;
    }
    
    h1 {
        font-size: 3.7rem;
        text-align: center;
    }
    
    h3 {
        font-size: 2rem;
        text-align: center;
    }
    
    section h2 {
        font-size: 4rem;
        text-align: center;
        letter-spacing: 0.1rem;
        position: relative;
        margin-bottom: 4rem;
    }
    
    section h2::after {
        content: '';
        position: absolute;
        bottom: -1rem;
        left: 50%;
        height: 0.4rem;
        width: 6rem;
        transform: translateX(-50%);
        background-color: var(--logo-blue);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    
    section p {
        width: 50%;
        text-align: center;
        color: var(--gray-secondary);
        margin: 3rem auto;
        font-size: 2rem;
    }
    /*--------------------------------*/
    /* NAVBAR */
    /*--------------------------------*/
    
    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 4rem;
        height: 9rem;
        background-color: rgb(89, 88, 86);
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
    }
    
    header.sticky {
        box-shadow: var(--nav-shadow);
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--white);
        z-index: 999;
    }
    
    header nav ul {
        display: flex;
        align-items: center;
    }
    
    header nav ul a {
        display: inline-block;
        padding: 0.7rem 1.8rem;
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
        cursor: pointer;
        position: relative;
        color: bisque;
    }
    
    header nav ul a:last-of-type {
        padding-right: 0;
    }
    
    header nav ul a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 0.3rem;
        transform: translateX(-50%);
        background-color: var(--logo-yellow);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        width: 0;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
    }
    
    header nav ul a.active::after {
        width: 60%;
    }
    
    header .logo-container {
        overflow: hidden;
        user-select: none;
        display: flex;
        align-content: center;
    }
    
    header .logo-container .logo-holder {
        width: 5rem;
        max-width: 5rem;
        overflow: hidden;
        display: flex;
        align-items: center;
    }
    
    header .logo-container .logo-holder img {
        width: 100%;
    }
    
    header .logo-container .logo-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1rem;
    }
    
    header .logo-container .logo-text p:first-of-type {
        font-size: 1.5rem;
        line-height: 1;
        letter-spacing: 0.1rem;
    }
    
    header .logo-container .logo-text p:last-of-type {
        font-size: 1.2rem;
        color: var(--gray-secondary);
        letter-spacing: 0.1rem;
    }
    
    header nav ul a:hover::after {
        width: 60%;
    }
    
    #particles-js {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    /*--------------------------------*/
    /* HERO SECTION */
    /*--------------------------------*/
    
    section#hero {
        min-height: 100vh;
        background-color: transparent;
        text-align: center;
    }
    
    .typewriter-text {
        max-width: 144rem;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        margin-top: 5rem;
        height: 16rem;
        display: flex;
        align-content: flex-end;
        align-items: flex-end;
        justify-content: center;
        color: #f8f8f8;
    }
    
    pre.content {
        display: inline;
        white-space: pre-wrap;
    }
    
    .typewriter-text h1 {
        font-size: 3.7rem;
        letter-spacing: 0.1rem;
        font-weight: 600;
        position: relative;
        display: inline-block;
        min-height: 6.2rem;
    }
    
    span.cursor {
        display: inline-block;
        width: 0.3rem;
        height: 5rem;
        background-color: var(--black);
        animation: blink 0.7s infinite ease;
        -webkit-animation: blink 0.7s infinite ease;
        transform: translateY(0.8rem);
        -webkit-transform: translateY(0.8rem);
        -moz-transform: translateY(0.8rem);
        -ms-transform: translateY(0.8rem);
        -o-transform: translateY(0.8rem);
    }
    
    span.cursor.typing {
        animation: none;
        -webkit-animation: none;
    }
    
    p.discription {
        width: 50%;
        text-align: center;
        color: var(--gray-secondary);
        margin: 3rem auto;
        font-size: 2rem;
    }
    
    #texting {
        color: wheat;
    }
    
    .btn-ghost {
        display: inline-block;
        padding: 0.5rem 3rem;
        font-size: 1.5rem;
        font-weight: 300;
        border: 0.1rem solid var(--gray-light-secondary);
        border-radius: 1rem;
    }
    
    .btn-ghost:hover,
    .btn-ghost:active {
        background-color: var(--black);
        color: var(--logo-blue);
    }
    
    .portfolio-img {
        height: 180px;
        width: 180px;
        border-radius: 15%;
    }